.content-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text-heading{
    margin: .67em 0;
    font-size: 72px;
    font-weight: 700;
    line-height: 82px;
    color: #160647; 
    letter-spacing: -.03em;
    margin-bottom: 50px;
}
.text-gradient{
    -webkit-text-fill-color: transparent;
    background-image:  linear-gradient(90deg,#47beb9,#ddcd86);
    -webkit-background-clip:  text; 
    background-clip:  text;
    display: block;
}  
.content-container >p{
    margin-bottom: 1em;
}
.text-gray{
    font-size: 18px;
    color: #76838f; 
    margin-top: 20px;
} 
.login_container{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 16px;
}
.signup-box{
    display: flex;
    align-items: center;
    background-color: #160647;
    color: #ffffff;
    padding: 15px 25px;
    border-radius: 50px;
    cursor: pointer;
}
.signup-box img{
    width: 25px;
    margin-right: 10px;
}
.signup-box:hover{
    background-color: #30187b;
}
.email-box{
    display: flex;
    align-items: center;
    background-color: #47beb9;
    color: #ffffff;
    padding: 15px 25px;
    border-radius: 50px;
    cursor: pointer;
}
.email-box img{
    width: 20px;
    margin-left: 5px;
}
.email-box:hover{
    background-color: #3fc9c3;
}